@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
    animation: fadeInAnimation ease 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-out {
    animation: fadeOutAnimation ease 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}